/** Compass Imports **/
/* line 3, ../scss/_header.scss */
.navbar .brand {
  width: 15.30612%;
  min-width: 100px;
}
/* line 7, ../scss/_header.scss */
.navbar .brand .logo {
  width: 100%;
}

/* line 6, ../scss/application.scss */
.navbar-inner {
  background-color: #ff0000;
}
