/** Compass Imports **/
@media (min-width: 1200px) {
  /* line 2, ../scss/_layout.scss */
  .navbar, .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1680px) {
  /* line 9, ../scss/_layout.scss */
  .navbar, .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1590px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 16, ../scss/_layout.scss */
html {
  height: 150%;
}

/* line 20, ../scss/_layout.scss */
body {
  background: url("../img/cubes.png");
  height: 100%;
}

/* line 25, ../scss/_layout.scss */
.inner-container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* line 33, ../scss/_layout.scss */
.content {
  background-color: #fff;
  box-shadow: 1px 0px 10px #333333, -1px 0px 10px #333333;
  -webkit-box-shadow: 1px 0px 10px #333333, -1px 0px 10px #333333;
  -moz-box-shadow: 1px 0px 10px #333333, -1px 0px 10px #333333;
  height: 150%;
}

/* line 42, ../scss/_layout.scss */
.carousel-inner img {
  width: 100%;
}
/* line 45, ../scss/_layout.scss */
.carousel-inner .carousel-caption {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 51, ../scss/_layout.scss */
.carousel-control {
  left: 30px;
}

/* line 54, ../scss/_layout.scss */
.carousel-control.right {
  left: auto;
  right: 30px;
}

/* line 1, ../scss/_header.scss */
.navbar {
  background-color: none;
  position: fixed;
}
/* line 4, ../scss/_header.scss */
.navbar .brand {
  width: 14.28571%;
  min-width: 100px;
}
/* line 8, ../scss/_header.scss */
.navbar .brand .logo {
  width: 100%;
}
/* line 14, ../scss/_header.scss */
.navbar .nav {
  font-size: 1.3em;
  line-height: 100%;
  text-transform: uppercase;
}

/* line 22, ../scss/_header.scss */
.navbar-inverse {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
/* line 27, ../scss/_header.scss */
.navbar-inverse .navbar-inner {
  background-color: inherit;
  border: inherit;
  box-shadow: inherit;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.25)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.25) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.25) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.25) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.25) 100%);
  width: 100%;
}

/* line 37, ../scss/_header.scss */
.navbar-background {
  width: 100%;
  background-color: #000000;
  position: absolute;
  display: block;
  top: 0;
  z-index: 1;
}

/* line 46, ../scss/_header.scss */
.navbar-container {
  position: absolute;
  z-index: 2;
}

/* Molydeux Green Pixel Color */
