.navbar{
	background-color: none;
	.brand{
		width: 140 / 980 * 100%;
		min-width: 100px;

		.logo {
			width: 100%;
		}
	
	}

	.nav{
		font-size: 1.3em;
		line-height: 100%;
		text-transform: uppercase; 
	}
}


.navbar-inverse{
	background-color: transparent;
	border: none;
	box-shadow: none;

		.navbar-inner{ //gradient background on navbar
		//@include filter-gradient(#0c0c0c, #00ffffff, vertical); // IE6-9
			background-color: inherit;
			border: inherit;
			box-shadow: inherit;
			@include background-image(linear-gradient(top,  rgba(0,0,0,.8) 0%,rgba(0,0,0,0.1) 100%));
		}
	}

html{ //this is tempoary to test the opacity change on scroll
	height: 200%;
}